

body{
    font-family: "Barlow", sans-serif;
   text-align: center;
    color: green;

}
table {
    margin-left: auto;
margin-right: auto;
}
th
{
 background-color: black;
 color: blueviolet;
 font-size: 25px;
 padding-top: 5px; 
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 5px; 
}
td
{
    border: none;
    padding-top: 5px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px; 
}
.input_group
{ 

    display: flex; /* or inline-flex */
      
}
.mine
{
    flex-basis:20%;
    text-align: right;
    margin-left: 80px; 
}
.mumin
{
    display: flex; /* or inline-flex */
}